@page "/library"
@attribute [StreamRendering]

<PageTitle>Books</PageTitle>

<h1>Books</h1>

<p>This component demonstrates displaying books.</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
